body {
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.header {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, #a0f1eb ,#ca94ff);
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    transition: color 0.3s ease;
}

.header a:hover {
    color: #007BFF;
}

.logo {
    position: center;
    align-items: center;
}

.logo img {
    height: 100px; /* Adjust logo size */
}
.table-container {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    border:none;

    
}
.table-container th{
    background-image: linear-gradient(to right, #a0f1eb ,#ca94ff);
    color: #000;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
}
.table-container td{
    text-align: center;
    padding: 5px;
}
.table-container table {
    margin: 0 auto;
}


.nav-links a {
    margin: 0 10px; /* Adds space between links horizontally */
    text-decoration: none; /* Optional: removes underlines for cleaner look */
}
.nav-links {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

form {
    background: #fff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="password"] {
    width: 70%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #ca94ff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
}

input[type="submit"]:hover {
    background-color: #a0f1eb;
    

}
.cart-btn,#checkout-btn {
    padding: 8px 15px;
    margin-top: 5px;
    background-color: #ca94ff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.cart-btn:hover,#checkout-btn:hover{
    background-color: #9f76c4;
}
p {
    text-align: center;
    font-size: 18px;
}